<!-- Launch an empty Gazebo world and spawn Dyret -->
<launch>
	<arg name="world" default="worlds/empty.world" doc="Gazebo world file" />
	<arg name="imu_enabled" default="true" />
	<arg name="paused" default="false" doc="Start Gazebo paused" />
	<arg name="gui" default="true" doc="Start GUI for Gazebo" />

	<!-- Start Gazebo -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)" />
	</include>

	<!-- Spawn Dyret within world -->
	<include file="$(find dyret_gazebo)/launch/spawn_dyret.launch">
		<arg name="imu_enabled" value="$(arg imu_enabled)" />
	</include>
</launch>
