<?xml version="1.0"?>
<robot name="dyret" xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- Arguments that can be passed to this URDF file: -->
	<xacro:arg name="imu_enabled" default="false" />
	<xacro:arg name="contact_enabled" default="false" />

	<!-- Import actual robot and instantiate: -->
	<xacro:include filename="$(find dyret_description)/urdf/dyret.urdf.xacro" />
	<xacro:dyret_robot />

	<!-- Create Gazebo interface for Dyret -->
	<gazebo>
		<self_collide>true</self_collide>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/dyret</robotNamespace>
		</plugin>
	</gazebo>
</robot>
