<?xml version="1.0"?>
<robot name="dyret" xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- Arguments that can be passed to this URDF file: -->
	<xacro:arg name="imu_enabled" default="true" />
	<xacro:arg name="contact_enabled" default="false" />

	<!-- Import actual robot and instantiate: -->
	<xacro:include filename="$(find dyret_description)/urdf/dyret.urdf.xacro" />
	<xacro:dyret_robot />

	<!-- Create Gazebo interface for Dyret -->
	<gazebo>
		<self_collide>true</self_collide>
		<plugin name="controller" filename="libdyret_gazebo_plugin.so">
			<updateRate>50</updateRate>
			<pid>20000.0 0.0 100.0</pid>
			<pid type="mx64">20 0.5 1.0</pid>
			<pid type="mx106">20 0.5 1.0</pid>
		</plugin>
	</gazebo>
</robot>
