<?xml version="1.0"?>
<robot name="dyret" xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- Arguments that can be passed to this URDF file: -->
	<xacro:arg name="imu_enabled" default="true" />
	<xacro:arg name="contact_enabled" default="false" />

	<!-- Import actual robot and instantiate: -->
	<xacro:include filename="$(find dyret_description)/urdf/dyret.urdf.xacro" />
	<xacro:dyret_robot />

	<!-- Create Gazebo interface for Dyret -->
	<gazebo>
		<self_collide>true</self_collide>
		<plugin name="controller" filename="libdyret_gazebo_plugin.so">
			<updateRate>60</updateRate>
			<pid>48 0 0</pid>
		</plugin>
	</gazebo>
</robot>
