<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find dyret_description)/urdf/inertias.urdf.xacro" />
	<!-- Macro for IMU -->
	<xacro:macro name="imu">
		<link name="imu_link">
			<visual>
				<origin xyz="0 0.003 0" rpy="0 0 3.1415" />
				<geometry>
					<mesh filename="package://dyret_description/meshes/xsens.STL"
						scale="0.001 0.001 0.001" />
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0.01" rpy="0 0 1.57" />
				<geometry>
					<box size="0.057 0.042 0.0235" />
				</geometry>
			</collision>
			<xacro:box_inertia mass="0.052" width="0.057"
				length="0.042" height="0.0235" r="${pi/2}"
				y="${pi/2}"/>
		</link>
		<!-- IMU Gazebo plugin support: -->
		<xacro:if value="$(arg imu_enabled)">
			<gazebo reference="imu_link">
				<gravity>true</gravity>
				<sensor name="imu_sensor" type="imu">
					<always_on>true</always_on>
					<update_rate>100</update_rate>
					<visualize>true</visualize>
					<topic>imu</topic>
					<plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
						<bodyName>imu_link</bodyName>
						<frameName>imu</frameName>
						<!-- Real noise is 0.01745 -->
						<gaussianNoise>0.01745</gaussianNoise>
						<robotNamespace>/dyret</robotNamespace>
						<rpyOffset>0 0 0</rpyOffset>
						<topicName>imu/data</topicName>
						<updateRateHZ>100.0</updateRateHZ>
						<xyzOffset>0 0 0</xyzOffset>
					</plugin>
					<pose>0 0 0 0 0 0</pose>
				</sensor>
			</gazebo>
		</xacro:if>
	</xacro:macro>
</robot>
