<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find dyret_description)/urdf/inertias.urdf.xacro" />

	<xacro:macro name="foot" params="name">
		<link name="${name}_foot_cyl">
			<collision>
				<geometry>
					<cylinder radius="0.014" length="0.0355" />
				</geometry>
			</collision>

			<xacro:cylinder_inertia mass="0.007" height="0.0355"
				radius="0.014"/>
		</link>
		<link name="${name}_foot_sph">
			<visual>
				<geometry>
					<sphere radius="0.0142" />
				</geometry>
			</visual>

			<collision>
				<geometry>
					<sphere radius="0.0142" />
				</geometry>
			</collision>

			<xacro:box_inertia mass="0.018" height="0.0142"
				width="0.0142" length="0.0142" />
		</link>
		<joint name="${name}_foot_fixed" type="fixed">
			<parent link="${name}_foot_cyl" />
			<child link="${name}_foot_sph" />
			<origin xyz="0 0 ${-0.0355/2 + 0.00195}" />
		</joint>

		<xacro:if value="$(arg contact_enabled)">
			<gazebo reference="${name}_foot_sph">
				<kp>1000000.0</kp>
				<kd>100.0</kd>
				<mu1>1.5</mu1>
				<mu2>1.5</mu2>
				<maxVel>1.0</maxVel>
				<minDepth>0.0</minDepth>
				<material>Gazebo/Black</material>
				<sensor name="${name}_bumper" type="contact">
					<contact>
						<collision>${name}_ext2_outer_fixed_joint_lump__${name}_foot_sph_collision_2</collision>
					</contact>
					<plugin name="${name}_gazebo_ros_bumper_controller"
						filename="libgazebo_ros_bumper.so">
						<robotNamespace>/dyret</robotNamespace>
						<bumperTopicName>${name}_contact</bumperTopicName>
						<frameName>world</frameName>
					</plugin>
				</sensor>
			</gazebo>
		</xacro:if>
		<xacro:unless value="$(arg contact_enabled)">
			<gazebo reference="${name}_foot_sph">
				<kp>1000000.0</kp>
				<kd>100.0</kd>
				<mu1>1.5</mu1>
				<mu2>1.5</mu2>
				<maxVel>1.0</maxVel>
				<minDepth>0.0</minDepth>
			</gazebo>
		</xacro:unless>
		<gazebo reference="${name}_foot_cyl">
			<kp>1000000.0</kp>
			<kd>100.0</kd>
			<mu1>1.5</mu1>
			<mu2>1.5</mu2>
			<maxVel>1.0</maxVel>
			<minDepth>0.0</minDepth>
		</gazebo>
	</xacro:macro>
</robot>
